<div class="bienvenida" id="home">
    <h2>Biblioteca lch</h2>
</div>


<section class="area-black">
  <div class="recomendados">
    <span class="fr-4 rec"><b>Libros Recomendados</b></span>
  </div>
  <div class="carrousel">
  <div class="row">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.postimg.cc/MGXvYcXw/cinco-semanas-en-globo.jpg" class="d-block w-100" alt="..." style="height: 261.69px; width: 164px;">
      </div>
      <div class="carousel-item">
        <img src="https://i.postimg.cc/qRh6ptdw/crimen-y-castigo.jpg" class="d-block w-100" alt="..." style="height: 261.69px; width: 164px;">
      </div>
      <div class="carousel-item">
        <img src="https://i.postimg.cc/cCfK8VC8/el-tatuador.jpg" class="d-block w-100" alt="..." style="height: 261.69px; width: 164px;">
      </div>
    </div>
  </div>
  </div>
  <div class="row">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.postimg.cc/dtmkQPgb/el-socio.jpg" class="d-block w-100" alt="..." style="height: 261.69px; width: 164px;">
      </div>
      <div class="carousel-item">
        <img src="https://i.postimg.cc/j265jP3H/artecallejeroenchile.jpg" class="d-block w-100" alt="..." style="height: 261.69px; width: 164px;">
      </div>
      <div class="carousel-item">
        <img src="https://i.postimg.cc/qRh6ptdw/crimen-y-castigo.jpg" class="d-block w-100" alt="..." style="height: 261.69px; width: 164px;">
      </div>
    </div>
  </div>
  </div>
  <div class="row">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.postimg.cc/B6rLbqS0/cometas-en-el-cielo.jpg" class="d-block w-100" alt="..." style="height: 261.69px; width: 164px;">
      </div>
      <div class="carousel-item">
        <img src="https://i.postimg.cc/MGXvYcXw/cinco-semanas-en-globo.jpg" class="d-block w-100" alt="..." style="height: 261.69px; width: 164px;">
      </div>
      <div class="carousel-item">
        <img src="https://i.postimg.cc/C1kMvbg3/orgullo-y-prejuicio.jpg" class="d-block w-100" alt="..." style="height: 261.69px; width: 164px;">
      </div>
    </div>
  </div>
  </div>
  </div>
</section>

<section class="catalogo-title">
  <p><b>Catálogo</b></p>
</section>

<section class="card-libros">
  <div class="card">
      <img src="https://edit.org/images/cat/portadas-libros-big-2019101610.jpg" class="card-img-top" alt="...">

  </div>
  <div class="card">
    <img src="https://edit.org/images/cat/portadas-libros-big-2019101610.jpg" class="card-img-top" alt="...">

  </div>
  <div class="card">
    <img src="https://edit.org/images/cat/portadas-libros-big-2019101610.jpg" class="card-img-top" alt="...">

  </div>
</section>

<section class="card-libros2">
  <div class="card">
      <img src="https://edit.org/images/cat/portadas-libros-big-2019101610.jpg" class="card-img-top" alt="...">

  </div>
  <div class="card">
    <img src="https://edit.org/images/cat/portadas-libros-big-2019101610.jpg" class="card-img-top" alt="...">

  </div>
  <div class="card">
    <img src="https://edit.org/images/cat/portadas-libros-big-2019101610.jpg" class="card-img-top" alt="...">

  </div>
</section>